cached-property==1.5.1
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
cryptography==39.0.1
ecdsa==0.15
idna==2.9
keycloak==3.0.0
pyasn1==0.4.8
pycparser==2.20
PyJWT==2.4.0
python-jose==3.1.0
python-keycloak==0.20.0
PyYAML==5.4
requests==2.24.0
rsa==4.7
six==1.15.0
urllib3==1.26.5
